flows.json
[{"id":"ed73316.d9fedd","type":"function","z":"2d505031.bdc67","name":"prediction","func":"var token=msg.payload.token\nvar bp=global.get('bp')\nvar sg=global.get('sg')\nvar al=global.get('al')\nvar su=global.get('su')\nvar rbc=global.get('rbc')\nvar pc=global.get('pc')\nvar ba=global.get('ba')\nvar sc=global.get('sc')\nvar sod=global.get('sod')\nvar pot=global.get('pot')\nvar hemo=global.get('hemo')\nvar dm=global.get('dm')\nvar cad=global.get('cad')\nmsg.payload={\"fields\":[\"bp\",\"sg\",\"al\",\"su\",\"rbc\",\"pc\",\"ba\",\"sc\",\"sod\",\"pot\",\"hemo\",\"dm\",\"cad\"],values:[[bp,sg,al,su,rbc,pc,ba,sc,sod,pot,hemo,dm,cad]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":166,"wires":[["77d037d5.d4b218"]]},{"id":"40d134d.e368acc","type":"ui_form","z":"2d505031.bdc67","name":"","label":"","group":"36dc6bf6.a542b4","order":0,"width":0,"height":0,"options":[{"label":"bp","value":"bp","type":"number","required":true},{"label":"sg","value":"sg","type":"number","required":true},{"label":"al","value":"al","type":"number","required":true},{"label":"su","value":"su","type":"number","required":true},{"label":"rbc","value":"rbc","type":"number","required":true},{"label":"pc","value":"pc","type":"number","required":true},{"label":"ba","value":"ba","type":"number","required":true},{"label":"sc","value":"sc","type":"number","required":true},{"label":"sod","value":"sod","type":"number","required":true},{"label":"pot","value":"pot","type":"number","required":true},{"label":"hemo","value":"hemo","type":"number","required":true},{"label":"dm","value":"dm","type":"number","required":true},{"label":"cad","value":"cad","type":"number","required":true}],"formValue":{"bp":"","sg":"","al":"","su":"","rbc":"","pc":"","ba":"","sc":"","sod":"","pot":"","hemo":"","dm":"","cad":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":64,"y":97,"wires":[["22391df3.d407f2"]]},{"id":"22391df3.d407f2","type":"function","z":"2d505031.bdc67","name":"parameters","func":"global.set(\"bp\",msg.payload.bp)\nglobal.set(\"sg\",msg.payload.sg)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"su\",msg.payload.su)\nglobal.set(\"rbc\",msg.payload.rbc)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"ba\",msg.payload.ba)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"sod\",msg.payload.sod)\nglobal.set(\"pot\",msg.payload.pot)\nglobal.set(\"hemo\",msg.payload.hemo)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"cad\",msg.payload.cad)\nreturn msg;","outputs":1,"noerr":0,"x":262,"y":98,"wires":[["b0caeabd.f15b08"]]},{"id":"b0caeabd.f15b08","type":"http request","z":"2d505031.bdc67","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":207,"y":210,"wires":[["4a7b8b94.29f724","ed73316.d9fedd"]]},{"id":"4a7b8b94.29f724","type":"debug","z":"2d505031.bdc67","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":419,"y":227,"wires":[]},{"id":"77d037d5.d4b218","type":"http request","z":"2d505031.bdc67","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a9ccb36d-e947-47fb-83c0-904faa7e3c76/deployments/886dcf1c-5c94-4790-a4af-0ee355fc479a/online","tls":"","proxy":"","authType":"basic","x":607,"y":198,"wires":[["feb5abdd.914298","14b0b436.aa1a6c"]]},{"id":"feb5abdd.914298","type":"debug","z":"2d505031.bdc67","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":745,"y":80,"wires":[]},{"id":"14b0b436.aa1a6c","type":"function","z":"2d505031.bdc67","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":623,"y":313,"wires":[["6c3fb679.ebda78"]]},{"id":"6c3fb679.ebda78","type":"ui_text","z":"2d505031.bdc67","group":"36dc6bf6.a542b4","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":761,"y":392,"wires":[]},{"id":"36dc6bf6.a542b4","type":"ui_group","z":"","name":"input parameters","tab":"365a9516.cdea1a","disp":true,"width":"6","collapse":false},{"id":"365a9516.cdea1a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]